<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <noscript id="nos">
    	<style type="text/css">
    		#firstContent { display: none; }
    		#nos { margin-left: 20%; }
    		.nolab {
    			display: block;
    			font-size: 80px; font-family: "Times New Roman", Times, serif; 
    			font-weight: bold; text-align: center; text-shadow: 1px 1.2px 1px yellow; 
    			margin-left: 20%; margin-right: 20%; margin-bottom: 5%; margin-top: 8%;
	        }
    	</style>
    	<label class="nolab">Please Activate JAVASCRIPT to have ACCESS! ;-)</label>
    </noscript>

	<script src="../../static/src/lib/query/query.min.js"></script>
	<script src="../../static/src/jss/gemuse_mobile.js"></script>
	<title>&emsp;&emsp;&emsp;&ensp; Gemüse und mehr </title>
	<link rel="stylesheet" type="text/css" href="../../static/src/css/gemuse.css">
</head>
<body>
	
    <fieldset>
		<div id="vege-div">
			<center><h1> Alle Frisches Lebensmittel Produkt </h1></center>
			<ul>


			   <li class="legume">
			   	  <a href="#"><img class="img1" src="../../static/src/media/imgs/legumeetplus/plantin.jpg" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label><b>€ 3.80 / KG </b></label><br>
			   	  <a href="#">Bestellen</a>
			   </li>
			   <li class="legume">
			   	  <a class="a1" href="#"><img class="img2" src="../../static/src/media/imgs/legumeetplus/igname.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Yamswurzel</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img3" src="../../static/src/media/imgs/legumeetplus/piments.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Frische Pfeffer</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img4" src="../../static/src/media/imgs/legumeetplus/gombo.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Frische Okra</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/bobolor.jpg" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Bobolor</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>


			   <li class="legume">
			   	  <a href="#"><img class="img1" src="../../static/src/media/imgs/legumeetplus/aubergine.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img2" src="../../static/src/media/imgs/legumeetplus/taro.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img3" src="../../static/src/media/imgs/legumeetplus/manioc.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img4" src="../../static/src/media/imgs/legumeetplus/pomm2terr.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/patatedouce.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>


			   <li class="legume">
			   	  <a href="#"><img class="img1" src="../../static/src/media/imgs/legumeetplus/carottes.jpg" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img2" src="../../static/src/media/imgs/legumeetplus/oigonver.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img3" src="../../static/src/media/imgs/legumeetplus/poivron.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img4" src="../../static/src/media/imgs/legumeetplus/ptipoids.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/haricot.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/haricotrouge.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>

			   <li class="legume">
			   	  <a href="#"><img class="img1" src="../../static/src/media/imgs/legumeetplus/banana.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img2" src="../../static/src/media/imgs/legumeetplus/igname.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img3" src="../../static/src/media/imgs/legumeetplus/piments.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img4" src="../../static/src/media/imgs/legumeetplus/gombo.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/taro.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/taro.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>

			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/taro.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/taro.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>

			   <li class="legume">
			   	  <a href="#"><img class="img1" src="../../static/src/media/imgs/legumeetplus/banana.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img2" src="../../static/src/media/imgs/legumeetplus/igname.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img3" src="../../static/src/media/imgs/legumeetplus/piments.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img4" src="../../static/src/media/imgs/legumeetplus/gombo.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/taro.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/taro.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>

			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/taro.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/taro.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="../../static/src/media/imgs/legumeetplus/taro.png" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin</a>&emsp;
			   	  <label>[ID]: #3070-1</label><br>
			   	  <label>100g x 10 <br><b>€ 200</b></label><br><br>
			   </li>
			</ul>
		</div>
    </fieldset>
    

		<!-- ##########################################################################################  -->

        <br><br>
	<center id="center-info">
		<label class="powered"> © 2023, <a href="../../index.html">RockSyShop - Offiziell</a> &emsp;&emsp;&emsp;&emsp; Powered by <a href="#"><b>MSFreeLancer</b></a></label><br>
	    </div>
	</center>
</body>
</html>